html{
	scroll-behavior: smooth;
	
}
body{
	margin: 5px;
	padding:5px;
	
}
Nav{
	Display:Flex;
	Flex-wrap:wrap;
	justify-content: center;
	align-items:center;
	border-bottom:7px solid #808080
}

NAV H1{
	Color:#000;
	font-size:25px;
	
}

NAV .onglets{
	margin-left:300px
	margin-bottom:30px;
	margin-left:300px;
	cursor: pointer;
}

NAV .onglets a{
	text-decoration: none;
	margin-right:9px;
	border-bottom:2px solid #000;
	padding-bottom:2px;
	
}

@media screen and (max-width:700px){
	NAV .onglets{
		margin-left:0px;
		margin-bottom:20px;
	}
	.main .card{
		margin:10px;
	}
	.main .content .card{
		display:bloc;
	}
	.main .content .card .right{
		display:bloc;
		
	}
	footer {
		padding:30px;
	}
	
}

HEADER{
	display:flex;
	flex-direction: column;
	align-items:center;
	background: url('Img_Barrièree.jpg');
	background-size: cover;
	color: #fff;
	padding:40px;
}
HEADER H4{
	Margin-top:10px;
	font-size:20px;
	
}



.Main{
	margin-top:35px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.main .content .border{
	border-bottom:1px solid #000;
	width:10 5%;
}
.main .content .card{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin-left: 20px;
	margin-bottom:20px;
	
	
}
.main .content .card .right{
	width:80%;
	flex:0 0 85%;
} 

.main .content .card .Left{
	flex:0 0 15%;
	border:1px solid #000;
	margin-bottom:10px;
	
}
footer{
	margin-top:40px;
	border-top:5px solid #6f6f6f;
	background-color:#000;
	color: #fff;
	padding:30px 100px;
	
}

footer H1{
	border-bottom:1px solid #fff;
	width:140%;
}

footer .Services{
	display:flex;
	flex-wrap:wrap;
}

footer .services .Conseil{
	margin-right:10px;
	max-width:300px;
	padding:10px;
	
}